.wrapper {
  min-height: 200vw;
  overflow: hidden;
  width: 100vw;
  max-width: 100%;

  .background {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .rect1 {
    position: absolute;
    width: 100vw;
    height: 2.76vw;
    left: 0px;
    top: 17.24vw;
    
    background: #DB00FF;      
  }

  .rect2 {
    position: absolute;
    width: 100vw;
    height: 2.76vw;
    left: 0px;
    top: 21.25vw;
    
    background: #00F0FF;
  }

  .triangle {
    position: absolute;
    width: 41.71vw;
    height: 45.26vw;
    left: 0px;
    top: 0px;
  }

  .userPhoto {
    position: absolute;
    width: 21.5vw;
    height: 21.5vw;
    left: 3.9vw;
    top: 11.8vw;
    border-radius: 50%;
  }

  .blueButton {
    color: #2B67F1;
    border: 2px solid #2B67F1;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 120%;
    text-align: center;
  }

  .modPFPButton {
    position: absolute;
    width: 10vw;
    height: 3vw;
    left: 9vw;
    top: 35vw;
  }

  .modPFPButtonSave {
    position: absolute;
    width: 10vw;
    height: 3vw;
    left: 4vw;
    top: 35vw;
  }

  .modPFPButtonCancel {
    position: absolute;
    width: 10vw;
    height: 3vw;
    left: 15vw;
    top: 35vw;
  }

  .modNameButton {
    position: absolute;
    width: 10vw;
    height: 3vw;
    left: 35vw;
    top: 37vw;
    display: none;
  }

  .claimUsername {
    position: absolute;
    width: 11.04vw;
    height: 10vw;
    right: 4.74vw;
    top: 27vw;
    mix-blend-mode: hard-light;
    display: none;
  }

  .designerName {
    position: absolute;
    width: 42vw;
    height: 300px;
    left: 35vw;
    top: 24vw;
    
    font-family: Faction Personal;
    font-size: 5vw;
    line-height: 120.31%;
    text-align: left;
    word-break: break-word;
    background: linear-gradient(90deg, #DB00FF 4.23%, #2B67F1 105.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &.editing {
      left: 30vw;
    }
  }

  .getDressedBadge {
    background: #C047E7;
    border: 7px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    width: 13.9vw;
    height: 13.9vw;
    left: 77%;
    top: 22.3vw;
    cursor: pointer;

    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      transform: scale(1.1);
    }

    .textWrapper {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 1.25vw;
      line-height: 150%;
      text-align: center;
      
      color: #FFFFFF;
      height: 100%;
      transform: rotate(-15deg);
      margin-top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5%;
    }
  }

  .socialIcons {
    position: absolute;
    width: 7vw;
    height: 40vw;
    right: 0;
    top: 27vw;
    display: flex;
    flex-direction: column;

    a {
      width: 4.3vw;
      height: 4.3vw;
      margin-bottom: 2vw;

      &:nth-of-type(3) {
        margin-right: 4vw;
      }

      img { 
        transition: 0.3s;
        &:hover {
          transform: scale(1.1)
        }
      }
    }
  }

  .inputSocialIcons {
    position: absolute;
    width: 25vw;
    height: 50vw;
    right: 2vw;
    top: 27vw;
    display: flex;
    flex-direction: column;

    align-items: flex-end;

    .inputRow {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1vw;

      img {
        width: 4.3vw;
        height: 4.3vw;
        margin-right: 1vw;
      }

      input {
        height: 30px;
        background: black;
        color: white;
        border: 2px solid #2B67F1;
        outline: none;
        padding-left: 4px;
      }
    }

    .modSocialSave {
      width: 10vw;
      height: 3vw;
    }
  }

  .designerDescription {
    position: absolute;
    width: 38vw;
    left: 55vw;
    top: 40vw;
    z-index: 4;
    
    font-family: Inter;
    font-size: 1.8vw;
    line-height: 130%;
    
    color: #FFFFFF;
    
    transform: rotate(23deg);
    transform-origin: 0 0;

    &.editing {
      left: 45vw;
    }
  }

  .editDescription {
    position: absolute;
    width: 38vw;
    height: 38vw;
    left: 30vw;
    top: 40vw;
    z-index: 3;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8vw;
    line-height: 130%;
    background: transparent;
    border: none;
    outline: 1px dotted white;
    
    color: #FFFFFF;    
  }

  .modDescriptionButton {
    position: absolute;
    width: 10vw;
    height: 3vw;
    left: 80vw;
    top: 80vw;
  }
  
  .modDescriptionButtonSave {
    position: absolute;
    width: 10vw;
    height: 3vw;
    left: 75vw;
    top: 80vw;
  }
  
  .modDescriptionButtonCancel {
    position: absolute;
    width: 10vw;
    height: 3vw;
    left: 86vw;
    top: 80vw;
  }

  .arrowImg {
    width: 12.4vw;
    height: 10.05vw;
    margin-left: 2vw;
    mix-blend-mode: screen;
  }

  .patternSection {
    margin-top: 60vw;
    margin-left: 10vw;
    position: relative;
    min-height: 150vw;
    z-index: 3;

    .patternWrapper {
      margin-left: -10vw;
      position: relative;
      width: 100vw;
      height: 70vw;

      .selectionGroup {
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
          width: 15vw;
          height: 15vw;
          margin-left: 2vw;
          margin-right: 2vw;
        }
      }

      .gamePad {
        display: flex;
        justify-content: flex-end;

        img {
          margin-top: -5vw;
          width: 20vw;
          height: 20vw;
        }
      }
    }

    .patternWrapper3 {
      margin-left: 10vw;

      &.smallPattern {
        min-height: 90vw;
      }
    }

    .patternWrapper4 {
      display: flex;
      width: 90vw;
      flex-wrap: wrap;
      margin-top: 15vw;
      align-content: baseline;
    }

  }

  .patternWrapper2 {
    z-index: 2;
    position: absolute;
    top: 110vw;
    right: 0vw;
    width: 50vw;
    height: 50vw;
    overflow: hidden;

    .patternSample1 {
      position: absolute;
      top: 9vw;
      right: 16vw;
      width: 14vw;
      height: 14vw;
      z-index: 2;
    }

    .patternSample2 {
      position: absolute;
      top: 7vw;
      right: -7vw;
      width: 25vw;
      height: 25vw;
      z-index: 1;
    }

    .patternSample3 {
      position: absolute;
      top: 0vw;
      right: 11vw;
      width: 12vw;
      height: 12vw;
      z-index: 1;
    }
  }

  .ownershipText {
    position: absolute;
    width: 59.64vw;
    height: 14vw;
    left: 3.8vw;
    top: 110vw;
    
    font-family: 'THIS FONT IS EMPTY1';
    font-style: normal;
    font-weight: normal;
    font-size: 5.2vw;
    line-height: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    
    background: linear-gradient(180deg, #DB00FF 0%, rgba(43, 103, 241, 0) 100%);
    -webkit-text-stroke: 0.08vw white;
    transform: rotate(-90deg);
    transform-origin: 0 0;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .addMoreButton {
    position: absolute;
    width: 18vw;
    height: 3vw;
    left: 18vw;
    top: 110vw;
    transform: rotate(-90deg);
    transform-origin: 0 0;
  }

  .marketplaceSection {
    margin-top: -40vw;
    z-index: 4;

    h1 {
      background: linear-gradient(90deg, #DB00FF 4.23%, #2B67F1 105.79%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Inter;
      font-style: normal;
      font-weight: 900;
      font-size: 5.2vw;
      line-height: 121%;
      margin-left: 5vw;
    }

    .marketplaceItems {
      display: flex;
      flex-wrap: wrap;
      margin-top: 9vw;
      a {
        z-index: 4;
      }
    }
  }
  
  .submitFormWrapper {
    // position: absolute;
    width: 95%;
    margin-left: 5%;
    margin-top: 120vw;
    z-index: 10;

    h1 {
      background: linear-gradient(90deg, #DB00FF 4.23%, #2B67F1 105.79%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Inter;
      font-style: normal;
      font-weight: 900;
      font-size: 5.2vw;
      line-height: 121%;
      padding-left: 20px;
      margin-bottom: 20px;
    }
  }
}