.wrapper {
  background-image: url('/images/designer-page/web3-fashion-background.png');
  background-size: 100%;
  position: relative;

  .triangle {
    position: absolute;
    top: -100px;
    right: -200px;
    width: 600px;
    height: 600px;
  }
 
  .container {
    max-width: 1200px;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;

    .title {
      font-family: Inter;
      font-style: normal;
      font-weight: 900;
      font-size: 100px;
      line-height: 121px;
      background: -webkit-linear-gradient(#DB00FF, #2B67F1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 5rem;
    }

    p {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 23px;
      line-height: 120.53%;
      /* or 28px */

      letter-spacing: 0.07em;

      color: #FFFFFF;

      a {
        color: white;
        text-decoration: underline;
      }

    }
  }
}